body {
  background: #efefef;
  font: 14px "Courier New" monospace;
  max-width: 650px;
  padding: 20px;
  margin: auto;
}

#inputBox div {
  display: flex;
}

#inputBox form {
  display: inline;
  flex-grow: 1;
}

#inputBox input {
  border: none;
  width: 100%;
  background: none;
  outline: none;
  font: 14px "Courier New" monospace;
}
