p Hello again #{text}.<br>
  | Last login: 2015-04-20 0913 UTC
p You have (1) new message.
p New message:

blockquote
 p 2015-04-21 0800 UTC
 p General Memo to Faculty:
 p As you may have heard, there was a minor accident last week in lab A431. We have determined that the incident was the result of failure to observe standard safety practices, which are mandatory for all faculty. Failure to observe standard safety practices will result in disciplinary action.
 p We encourage all faculty to take a moment to review standard safety practices for their lab. If you do not have a copy of your lab's standard safety practices, you can request one from your lab supervisor.
 p A safety crew will investigate lab A431 this week, but we do not believe the incident will impact any other labs. Please disregard rumors to the contrary.
 p Richard Quest<br>
  | Facility Supervisor
