p You are connected to the TCS D8303 Scientific Computer Network.<br>
  | You are logged on as Zack
p Warning: Your account has been limited to essential operations. See your administrator for assistance.
p Commands:
p exit  info  logs  messages