p You are connected to the TCS D8303 Scientific Computer Network.
p The D8303 SCN is a state-of-the-art computer system by Tracon Computer Systems. It uses the latest in computing research to harness the power of quantum physics, allowing researchers to solve yet-unsolvable classes of scientific problems.
p This installation of the D8303 SCN is licensed to:
blockquote INDUSTRIAL SCIENCE INC.