p You have (1) new message.
p New message:
blockquote
  p 2015-04-22 1806 UTC
  p Hello. I don't know who you are, but thankfully you've gained access to the computer system. I'm a member of the faculty here, and I need your help. You may be in danger, so stay quiet about this. I'll explain more later. I have to go now. I'll contact you again soon. Until then, try to get familiar with the system, but DO NOT MODIFY ANYTHING. (Try `help` if you're new to the SCN.)
  p -Mongoose